* {
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace;
    background-color: antiquewhite;
}

.book-container {
    border: 1px solid black;
    height: fit-content;
    display: flex;
    gap: 5px;
    width: 100%;
    flex-wrap: wrap;
}

.book {
    border: 3px solid black;
    background-color: white;
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#book-card-title {
    background-color: white;
}

#book-card-author {
    background-color: white;
}

#book-card-num-pages {
    background-color: white;
}


#new-book-button {
    padding: 10px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

#add-book-button {
    padding: 10px;
    background-color: rgb(170, 194, 131);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

#cancel-button {
    padding: 10px;
    background-color: rgb(226, 87, 87);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}

/* new book form pop-up */
.form-popup {
    display: none;  /* hidden by default */
    position: fixed;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    gap: 5px;
}

form {
    background-color: white;
}

input {
    border-radius: 5px;
}

